.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.container .h1{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    color: palevioletred;
    height: 20px;
    width: 1000px;
    margin: 20px 440px;
    justify-content: center;
}