* {
    padding: 0;
    margin: 0;
}
.body {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    color: white;
}
.b1 {
    grid-column: 1/2;
    grid-row: 1/2;
    background-color: #323333;
}
.b2 {
     grid-column: 2/3;
    grid-row: 1/2;
    background-color:#42a0f8;
}
.b3 {
     grid-column: 3/4;
    grid-row: 1/2;
    background-color:#5ac69d;
}
.b4 {
     grid-column: 4/5;
    grid-row: 1/2;
    background-color:#323333;
}
.b5 {
     grid-column: 1/2;
    grid-row: 2/4;
    background-color: 	#6082B6;;
}
.b6 {
     grid-column: 2/4;
    grid-row: 2/3;
    background-color:#323333;
}
.b7 {
     grid-column: 2/3;
    grid-row: 3/4;
    background-color: #42a0f8;
}
.b8 {
     grid-column: 3/4;
    grid-row: 3/4;
    background-color:  #5ac69d;
}
.b9 {
    grid-column:4/5;
    grid-row: 2/4;
    background-color: #6082B6;
}
.body h2{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}
.body p{
   display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
}
.body img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    
}
.right {
    position: fixed;
    top: 45%;
    right: 20px;
    transform: rotate(180deg);
}
.b1, .b2, .b3, .b4, .b5, .b6, .b7, .b8, .b9{
    padding: 30px;
     padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@media screen and (max-width:992px){
    .body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}
.b1 {
    grid-column: 1/2;
    grid-row: 1/2;
}
.b2 {
     grid-column: 2/3;
    grid-row: 1/2;
}
.b3 {
     grid-column: 3/4;
    grid-row: 1/2;
}
.b4 {
     grid-column: 1/2;
    grid-row: 2/3;
}
.b5 {
     grid-column: 2/3;
    grid-row: 2/3;
}
.b6 {
     grid-column: 3/4;
    grid-row: 2/3;
}
.b7 {
     grid-column: 1/2;
    grid-row: 3/4;
}
.b8 {
     grid-column: 2/3;
    grid-row: 3/4;
}
.b9 {
    grid-column:3/4;
    grid-row: 3/4;
}
}
@media screen and (max-width:567px){
    .body {
    display: grid;
    height: auto;
    grid-template-columns: auto;
    grid-template-rows:1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.b1 {
    grid-column: 1/1;
    grid-row: 1/2;
}
.b2 {
     grid-column: 1/1;
    grid-row: 2/3;
}
.b3 {
     grid-column: 1/1;
    grid-row: 3/4;
}
.b4 {
     grid-column: 1/1;
    grid-row: 4/5;
}
.b5 {
     grid-column: 1/1;
    grid-row: 5/6;
}
.b6 {
     grid-column: 1/1;
    grid-row: 6/7;
}
.b7 {
     grid-column: 1/1;
    grid-row: 7/8;
}
.b8 {
     grid-column: 1/1;
    grid-row: 8/9;
}
.b9 {
    grid-column:1/1;
    grid-row: 9/10;
}
.b1, .b2, .b3, .b4, .b5, .b6, .b7, .b8, .b9{
    padding: 30px;
}
} 