* {
    margin: 0;
    padding: 0;
}
.head {
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 100%;
    padding: 7px;
    position: fixed;
    z-index: 1000;
}
.head ul  {
    list-style-type: none;
    display: flex;
    padding: 20px;
    gap: 20px;
    font-size: 15px;
    }
.left {
    display: flex;
    gap: 20px;
}
.right {
    display: flex;
    gap: 20px;
    padding-right: 10px;

}
.content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 700px;
    padding-top: 70px;
}
.b1 {
    width: 500px;
    height: 70vh;
    margin: 95px;
    margin-right: 0;
    justify-content: center;
    align-content: center;
}
.b1 h1 {
    padding-top: 50px;
    align-items: flex-start;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    margin-top: -40px;
    font-size: 60px;
    display: flex;
    flex-wrap: wrap;
    font-weight: normal;
}
.b2 {
    width: auto;
    height: 500px;
}
.b2 img {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 550px;
    margin-left: 40px;
}
.box {
    padding: 9px;
    width: 200px;
    border: 2px solid black;
    font-size: smaller;
    margin: 5px;
}
.button {
    text-decoration: none;
    width: 65px;
    padding: 8.5px;
    background-color: black;
    color: white;
    margin: 5px;
    border: 2px solid black;
    margin-left: -10px;
}
.b1 p {
    padding: 10px;
    font-size: 18px;
}
@media screen  and (min-width:568px) and (max-width:852px) {
    .head ul  {
    padding: 20px;
    gap: 15px;
    font-size: 14px;
    }
    .b2 img {
    width: 450px;
    height: 450px;
    margin-left: 40px;
}
}
@media screen  and (max-width:567px) {
      .head ul  {
    padding: 15px;
    gap: 10px;
    font-size: 14px;
    }
    .b2 img {
    width: 400px;
    height: 400px;
    margin-left: 40px;
}
}