* {
    margin: 0;
    padding: 0;
}
body {
    /* display: flex;
    justify-content: center;
    align-items: center; */
}
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows:1fr 1fr 1fr ;
    gap: 35px;
    padding: 20px;
    height: 93vh;
     text-align: center;
     background-color: purple;
}
.b1 {
    background-color:#5ac69d;
    grid-column: 1/3;
    grid-row: 1/3;
    border-radius: 15px;
}
.b2 {
    grid-column: 1/3;
    grid-row: 3/4;
    background-color: rgb(224, 91, 171);
    border-radius: 15px;
}
.b3 {
    grid-column: 3/6;
    grid-row: 1/2;
    background-color: #3f9ff6;
    border-radius: 15px;
}
.b4 {
    grid-column: 3/5;
    grid-row: 2/4;
    background-color: rgb(179, 86, 86);
    border-radius: 15px;
}
.b5 {
    grid-column: 5/6;
    grid-row: 2/3;
    background-color: rgb(41, 103, 83);
    border-radius: 15px;
}
.b6 {
    grid-column: 5/6;
    grid-row: 3/4;
    background-color: rgb(101, 100, 100);
    border-radius: 15px;
}
.body img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: balck;
}
.left img, .right img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.left {
    position: fixed;
    top: 45%;
    left: 20px;
}
.right {
    position: fixed;
    top: 44%;
    right: 20px;
    transform: rotate(180deg);
}
@media screen  and (max-width:1200px) {
    .grid-container {
    
    gap: 20px;
    
}
}
@media screen and (max-width:567px) {
    .grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows:100px 100px 100px 100px 100px 100px;
    gap: 15px;
    height: auto;
}
    .b1 {
        grid-column: 1/1;
        grid-row: 1/2;
       
    }
    .b2 {
        grid-column: 1/1;
        grid-row: 2/3;
       
    }
    .b3 {
        grid-column: 1/1;
        grid-row: 3/4;
    }
    .b4 {
        grid-column: 1/1;
        grid-row: 4/5;
    }
    .b5 {
        grid-column: 1/1;
        grid-row: 5/6;
    }
    .b6 {
        grid-column: 1/1;
        grid-row: 6/7;
    }
}