* {
    margin: 0;
    padding: 0;
}
.header {
    width: auto;
    background-color: white;
}
.header p {
    text-align: start;
    justify-content: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: red;
    margin: 12px;
    font-size: 28.5px;
    padding-left: 85px;
    font-weight: bolder;
}
.icon {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    background-color: red;
}
.flex-container1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: red;
    color: white;
}
.box-flex1 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: red;
    width: 750px;
    font-weight: lighter;
    padding: 90px;
    margin-left: 35px;
    padding-bottom: 0;
    padding-right: 0;
    font-family: 'Source Sans Pro';
}
.box-flex2 img {
    width: 200px;
    height: 200px;
    align-items: center;
    margin: 50px;
    margin: 70px;
    background-color: red;
}
.heading {
    font-size: 48px;
}
.content {
    padding-top: 10px;
    font-size: 24px;
}
.flex-container2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
    height: 320px;
    background-color: red;
}
.flex-box {
    width: 400px;
    height: 220px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    position: relative;
    text-align: center;
    background-color: #701c1c;
    margin-bottom: 20px;
}
#heading {
    color: white;
    font-size: 25px;
    text-align: start;
    margin: 20px;
    padding: 20px;
    padding-bottom: 0;
}
#content {
    color: lightcoral;
    font-size: 13px;
    text-align: start;
    margin: 20px;
    padding: 20px;
    padding-top: 0;
    justify-content: center;
}
.right img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.right {
    position: fixed;
    top: 45%;
    right: 20px;
    transform: rotate(180deg);
}
@media screen and (max-width:1214px) {
    .box-flex1 {
    width: 100%;
    font-weight: lighter;
    padding-left: 0px;
    margin-left: 10px;
    padding-bottom: 0;
    padding-right: 0;
    font-family: 'Source Sans Pro';
}
    .box-flex2 {
        display: flex;
        align-items: center;
        width: 100%;
    }
    .box-flex2 img {
    width: 200px;
    height: 200px;
    align-items: center;
}
 .flex-container2 {
    height: fit-content;
}
}
@media screen and (max-width:567px) {
    .box-flex2 img {
        margin-left: 90px;
    width: 250px;
    height: 250px;
}
    .flex-container2 {
    height: fit-content;
}
}
@media screen and (max-width:412px) {
       .box-flex2 img {
        margin-left: 20px;
}
}