
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

.con{
    width: 400px;
    height:300px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 40% ;
    padding: 15px;
    align-items: center;
    background-color: lightblue;
    border-radius: 10px;
}


.btn{
    font-family: "Playfair Display", serif;;
}

.con .parent {
    font-family: "Playfair Display", serif;
    margin: 10px ;
    margin-bottom: 0px;

}

.con .cd {
    width: 200px;
    height: 60px;
    margin: auto;
    display: flex;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    background-color:pink;
        font-family: "Playfair Display", serif;

}