.nav{
    display: flex;
    align-items: center;
    height: 50px;
    justify-content: space-between;
}
.nav ul{
    padding-left: 0px;
    padding-right: 0px;
    display: flex;
    list-style: none;
}
.nav .photo{
    width: 200px;
    height: 200px;
    padding: 10px 20px;
}
.nav ul li{
    padding: 20px;
}
.nav ul li a{
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
}